# macOS
.DS_Store

# web
**/node_modules
Extension/dist

# safari
**/xcdebugger
Shared\ (Extension)/Resources/dist/
**/xcuserdata
**/*.xcuserstate

# cached credits
tmdb_cache/movie/*
tmdb_cache/search/*
tmdb_cache/person/*
tmdb_cache/graph.json
tmdb_cache/graph_v2.json

# python
**/__pycache__/


# env vars
.env
